<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Siddhi-Store-Elasticsearch-Test-Suite" parallel="false">
    <test name="Siddhi-store-elasticsearch-tests" preserve-order="true" parallel="false">
        <classes>
            <class name="io.siddhi.extension.store.elasticsearch.test.TestCaseOfElasticsearchEventTableIT"/>
            <class name="io.siddhi.extension.store.elasticsearch.test.TestCaseOfElasticsearchSink"/>
        </classes>
    </test>
</suite>